header{
    display: flex;
    justify-content: space-around;
}

#form{
    display: flex;
    flex-direction: column;
    
}
#form>input{
    margin: 10px 0;
}
main{
    display: flex;
    justify-content: space-evenly;
}
table,th,td{
    border: 1px solid black;
}
body{
    background-color: antiquewhite;
}